<div class="title_box">
  <h1>What style?</h1>
  <form action="/tattoos">
    <ul>
      <li><input type="checkbox" id="cb1" name="gothic"/>
        <label for="cb1"><%= image_tag "gothic.png"%>
      </li>
      <li><input type="checkbox" id="cb2" name="flowers"/>
        <label for="cb2"><%= image_tag "flowers.png"%>
      </li>
      <li><input type="checkbox" id="cb3" name="animals"/>
        <label for="cb3"><%= image_tag "animals.png"%>
      </li>
      <li><input type="checkbox" id="cb4" name="butterflies"/>
        <label for="cb4"><%= image_tag "butterflies.png"%>
      </li>
      <input type="hidden" name="body_parts" value=<%= @body_parts_string %>>
    </ul>

    <ul>
      <div class="body_parts">Gothic</div>
      <div class="body_parts">Flowers</div>
      <div class="body_parts">Animals</div>
      <div class="body_parts">Butterflies</div>
    </ul>

    <input type="image" src="<%= asset_path('next.png') %>" alt="Submit" height="90">

  </form>
</div>
