<%= form_with(model: tattoo, local: true) do |form| %>
  <% if tattoo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tattoo.errors.count, "error") %> prohibited this tattoo from being saved:</h2>

      <ul>
      <% tattoo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>
  <% end %>



  <%= simple_form_for @tattoo do |f| %>
    <%= f.input :name %>
    <%= f.input :image_link %>
    <%= f.button :submit %>
  <% end %>
