<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @tattoo.name %>
  <%= @tattoo.id %>
  <td><%= @tattoo.artists.map { |x| x.name }.join %></td>
</p>

<p>
  <strong>Image link:</strong>
  <td><%= image_tag @tattoo.image_link_url.to_s %></td>
</p>

<%= link_to 'Edit', edit_tattoo_path(@tattoo) %> |
<%= link_to 'Back', tattoos_path %>
