<p id="notice"><%= notice %></p>

  <style>

    .tattoos_container
    {
      background: rgba(0, 0, 0, 0.4);
      padding-top: 20px;
      padding-bottom: 20px;
    }


    figure, .tatto_info
    {
      padding:10px 30px 30px 30px;
      color:#414143;
      font-family: 'Aclonica';
      border-radius:10px;
    }

    .img-thumbnail
    {
      padding: 1rem;
      box-shadow:1px 1px 1px #000;
    }

    figcaption
    {
      font-size:20px;
      text-align: center;
      margin-bottom:10px;
    }

    figure img
    {
      display:block;
      margin:auto;
      width:100%;
    }

    .tatto_info
    {
      background: rgba(255, 255, 255, 0.9);
    }

    .tatto_info header
    {
      font-size:20px;
      text-align: center;
      margin-bottom:10px;
    }

    .back {
      text-align: center;
      color: white;
      font-family: 'Aclonica';
      font-size: 200%;
      margin-top: 20px;
    }

    .indi_tattoo_name {
      text-align: center;
      color: white;
      font-family: 'Aclonica';
      font-size: 200%;
      margin-bottom:10px;
    }


  </style>
  <div class='tattoos_container'>
  <div class='row'>
  <div class="col-md-6 col-lg-4">
  <figure>
  <figcaption class="indi_tattoo_name"><%= @tattoo.name %></figcaption>
  <%= image_tag @tattoo.image_link_url.to_s ,alt: "Picute of #{@tattoo.name} tattoo" , class: "img-thumbnail" %>
  </figure>
  </div>
  <div class="col-md-6 col-lg-8 tatto_info ">
    <% @artists = @tattoo.artists %>

    <% @artists.each do |artist| %>
    <header> Tattoo Info </header>
    <p>
      <strong>Artist Name:</strong>
      <%= artist.name %>
    </p>

    <p>
      <strong>Artist Rating :</strong>
      <%= Rating.find(artist.rating_id).star %>
    </p>

    <% parlour = Parlour.find(artist.parlour_id) %>
    <p>
      <strong>Parlour Name : </strong>
      <%= parlour.name %>
    </p>

    <p>
      <strong>Description : </strong>
      <%= parlour.description %>
    </p>

    <p>
      <strong>Location : </strong>
      <%= parlour.location %>
    </p>

    <p>
      <strong>Contact : </strong>
      <%= parlour.contact %>
    </p>


  </div>
</div>

<% end %>
<% new_params =[] %>
<% params.each do |key,value| %>
  <%new_params << key+'='+value %>
<% end %>

<% new_params = 'gothic=on&butterflies=on&body_parts=Arm' %>
<% url = 'http://localhost:3000/tattoos?'+new_params %>
<!-- <a href='http://localhost:3000/tattoos?' -->
<div class="back"><%= link_to 'Close', url %></div>
<% link_to 'Edit', edit_tattoo_path(@tattoo) %>
<% link_to 'Back', tattoos_path %>

</div>
